<% @tasks.each do |task| %>
<h2><%= task.id %></h2>
<h2><%= task.name %></h2>
<p><%= task.details %></p>
<%= link_to "Delete", task_path(task),
      method: :delete,
      data: { confirm: "Are you sure?" } %>
<%= link_to "Index", task_path(task)%>
<%= link_to "Create", tasks_new_path(task)%>
<% end %>

